<%- include('../_partial/_header'); -%>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/af8016f8f3.js" crossorigin="anonymous"></script>
    <style type="text/css">
      #header{
        background:url(https://www.navis.com/contentassets/23cb5da482614ac686f01cc003b6a957/headerbanner_events.jpg?width=1920);
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>

    <title>Events</title>
  </head>
  <body>
    
    <nav class="navbar bg-dark navbar-dark">
      <div class="container">
      <a href="#" class="navbar-brand"><i class="fas fa-binoculars mr-3"></i>Events</a>
    </div>
    </nav>
    <section id="header" class="jumbotron text-center" >
      <h1 class="display-3">Events</h1>
      <p class="lead text-danger text-italic">Here are the some events which are going on</p>
      <a href="#" class="btn btn-primary">Register! </a>
      <a href="#" class="btn btn-success">Your Event!</a>
    </section>
    <section id="gallery">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
          <img class="card-img-top" src="https://cdn.business2community.com/wp-content/uploads/2018/02/community-events.jpeg"> 
          <div class="card-body">
            <h5 class="card-title">Event 1</h5>
            <p class="card-text">Here is info of the event</p>
            <a href="#" class="btn btn-outline-success btn-small">Info</a>
            <a href="#" class="btn btn-outline-danger btn-small"><i class="far fa-heart"></i></a>

          </div>
        </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
          <img class="card-img-top" src="https://cdn.business2community.com/wp-content/uploads/2018/02/community-events.jpeg"> 
          <div class="card-body">
            <h5 class="card-title">Event 2</h5>
            <p class="card-text">Here is info of the event</p>
            <a href="#" class="btn btn-outline-success btn-small">Info</a>
            <a href="#" class="btn btn-outline-danger btn-small"><i class="far fa-heart"></i></a>

          </div>
        </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
          <img class="card-img-top" src="https://cdn.business2community.com/wp-content/uploads/2018/02/community-events.jpeg"> 
          <div class="card-body">
            <h5 class="card-title">Event 3</h5>
            <p class="card-text">Here is info of the event</p>
            <a href="#" class="btn btn-outline-success btn-small">Info</a>
            <a href="#" class="btn btn-outline-danger btn-small"><i class="far fa-heart"></i></a>

          </div>
        </div>
          </div>

        </div>
      </div>
      
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

<%- include ('../_partial/_footer'); -%>