<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/af8016f8f3.js" crossorigin="anonymous"></script>
    

    <title>Get Started</title>
    <style type="text/css">
      body{
        background: url(https://www.navis.com/contentassets/23cb5da482614ac686f01cc003b6a957/headerbanner_events.jpg?width=1920);
      }
      #content{
        text-align: center;
        padding-top: 20%;
      }
      h1{
        color: white;
      }
      
    </style>
  </head>
  <body>
    
    <nav id="mainnavbar" class="navbar  navbar-dark bg-dark navbar-expand-md">
      <a href="#" class="navbar-brand "><b>College Event Website</b></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navlinks">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navlinks">
      <div class="container">
      <ul class="navbar-nav  justify-content-center">
       
        <li class="nav-item">
          <a href="#" class="nav-link "><i class="fas fa-home pl-4"></i>  Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link pl-5">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link pl-5">Events</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link pl-5">Notification</a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <a href="#" class="nav-link pr-5">Profile</a>
        </li>
      
          <li class="nav-item">
            
          <a href="#" class="nav-link">Help</a>
        
        </li>
    
      
        
      </ul>
    </div>
  </div>

    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="content">
          <h1 class="display-3 bg-success">Welcome to College Eventa</h1>
            <h3>Here you can find some awesome events!</h3>
            <br>
            <button class="btn btn-dark"><i class="far fa-hand-spock"></i> <a href="/about">About Us</a></button>
            <button class="btn btn-dark"><i class="far fa-hand-spock"></i> <a href="/login">Get Started!</a></button>
          
        </div>
      </div>
    </div>
  </div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
